name: "Dev Deploy"

on:
  push:
    branches:
      - develop

permissions:
  id-token: write
  contents: read

jobs: 
  terraform: 
  uses: ./github/workflows/terraform.yml
  with: 
    environment: "dev"
    assume-role-arn: arn:aws:iam::829115578807:role/github-actions-igorrodriguesss
    aws_region: "us-east-1"
    aws-statefile-s3-bucket: igorrodriguesss-us-east-1-terraform-statefile
    aw-lock-dynamodb-table: igorrodriguesss-us-east-1-terraform-lock


